body {
    background-color: #f0f0f5;
}
#page-home {
    flex: 1;
    background-color: #f0f0f5;
}

#page-home .content {
    width: 100%;
    max-width:1200px;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#page-home main {

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-home main h1 {
    font-size:54px;
}

#page-home main h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

#page-home main img {

    margin-left: 24px;
    justify-content: right;
    margin-bottom: 100px;
    float: right;

}